.background-image-loading {
  background-color: #fefefe;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 50%;
  margin: auto;
}

.logo {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
